<?xml version='1.0' encoding='utf-8'?>
<widget id="io.github.psychomantys" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gerador</name>
    <description>
        Gerador de codigos para as maquinas
    </description>
    <author email="psycho.mantys@gmail.com" href="http://psychomantys.github.io">
        Psycho Mantys
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
